
@{
    ViewBag.Title = "TogetherRegisterAndAdress";
}

<h2>Register</h2>
<h4>Create a new account.</h4>
<hr />
<div>
    @{Html.RenderPartial("CreateAdress");}
    @{Html.RenderPartial("Register");}
</div>