
@{
    ViewBag.Title = "Cart";
}

@{
    ViewBag.Title = "Index";
}
@using WypasionaKsiegarniaMVC.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h2>Cart</h2>
    <h2>Index</h2>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>ISBN</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @foreach (var item in (List<Product>)Session["cart"])
        {
            <tr>
                <th>@item.ISBN</th>
                <th>@item.Title</th>
                <th>@item.Price</th>
                <td align="center">Order Now</td>
            </tr>
        }
    </table>
</body>

</html>


