@{
    ViewBag.Title = "Index";
}
@using WypasionaKsiegarniaMVC.Models;
<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />


</head>

<body>
    <h2>Index</h2>
    <table cellpadding="2" cellspacing="2" border="1">

        <tr>

            <th>ISBN</th>

            <th>Product</th>

        </tr>
        @foreach (Product p in ViewBag.listProducts)
        {
            < tr >
            < th > @p.ISBN </ th >
            < th > @p.Title </ th >
            < th > @p.Price </ th >
            < td align = "center" > Order Now </ td >
            </ tr >
        }

    </table>

</body>


</html>